body {
    background: rgb(133, 131, 131);
}
.container {
    margin: 20px auto;
    text-align: center;
    width: 80%;
    /* display: flex;
    justify-content: center; */
}
header {
    font-family: Fascinate, serif;
    font-style: italic;
    color: white;
    /* text-align: center;     */
}
.nav-bar {
    background: rgb(246, 108, 234);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 50;
    cursor: pointer;
}
.search input, button{
    font-family: "PT Sans Narrow", sans-serif;
}
.search input {
    padding: 5px 50px 5px 2px;
}
.search-btn {
    background: rgb(52, 50, 50);
    color: white;
    padding: 5px 35px;
    outline: none;
}
main {
    background: white;
    padding: 20px;
    margin: 15px 15px 15px 0;
    /* display: flex; */
    width: 74%;
    text-align: left;
}