body {
    background: rgb(133, 131, 131);
}
.container {
    margin: 20px;
    display: flex;
    justify-content: center;
}
header {
    font-family: Fascinate, serif;
    font-style: italic;
    color: white;
}