body {
    background: rgb(133, 131, 131);
}
.container {
    margin: 20px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
header {
    font-family: Fascinate, serif;
    font-style: italic;
    color: white;
    /* text-align: center;     */
}
.nav-bar {
    background: rgb(246, 108, 234);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 50;
    cursor: pointer;
}